<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Questi sono i dati della query</h1>
    <% test.forEach((e) => { %>
      <%= e.id %>
      <%= e.nome %>
    <% }) %>
    
    <% chargers.forEach((e) => { %>
      <%= e.id_amat %>
      <%= e.nome_nil %>
      <%= e.cerchia %>
    <%})%>
      

  </body>
</html>
